@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo-Bold.eot');
    src: url('../fonts/Arvo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arvo-Bold.woff2') format('woff2'),
    url('../fonts/Arvo-Bold.woff') format('woff'),
    url('../fonts/Arvo-Bold.ttf') format('truetype'),
    url('../fonts/Arvo-Bold.svg#Arvo-Bold') format('svg');
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    font-size: inherit;
    box-sizing: border-box;
}
a{text-decoration: none;
    color: inherit;
}
header{
    height: 40px;
    background-color: #af2024;
}
.img{
    max-width: 1500px;
    margin: auto;
}
section{
    background-color: #3f0002;
    position: relative;
    z-index: 1;
    padding-bottom: 35px;
}
.icons{
    width: 50px;
    position: fixed;
    right: 0;
    top: 262px;
    z-index: 6;
}
.icons .social{
    height: 50px;
    line-height: 60px;
    width: 50px;
    background-color: #850409;
    display: block;
    text-align: center;
}
.icons .dark{
    background-color: #98161b;
}
.social i{
    color: #ffffff;
    font-size: 33px;
}
.container {
    max-width: 960px;
    margin: auto;
    position: relative;
    z-index: 4;
    top: -800px;
}
.block{
    max-width: 688px;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 93px;
    margin-top: 33px;
}
.block .red{
    background-color: #98161b;
    padding-left: 18px;
    line-height: 70px;
    margin-bottom: 63px;
}
h1{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Arvo';
    font-weight: bold;
}
.block_gray{
    max-width: 540px;
    margin: auto;
    background-color: #e7e7e7;
    height: 347px;
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
}
.play{
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #98161b;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    cursor: pointer
}
.block_text{
    max-width: 540px;
    margin: auto;
}
h2{
    font-size: 13px;
    color: #98161b;
    margin-bottom: 20px;
    font-family: 'Arvo';
    font-weight: bold;
}
.gray_text{
    color: #7d7d7d;
}
.line{
    margin-bottom: 20px;
    border-bottom: 2px dotted #98161b;
    max-width: 43px;
}
h3{
    font-size: 12px;
    color: #98161b;
    line-height: 18px;
    font-family: 'Arvo';
}
footer{
    background-color: #000000;
    position: relative;
    height: 1285px;
    top: -880px;
    z-index: 3;
}
.white{
    max-width: 688px;
    margin: auto;
    position: relative;
    z-index: 2;
    background-color: #fffff1;
    height: 36px;
}

